<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

                      <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" >
                              <tr>
                                <td rowspan="2" style="width: 20%; text-align: center;"><img src="http://localhost:3003/static/assets/images/email-temp/logo_success.png" alt=""></td>
                                <td style="text-align: center">DOCUMENTO TROBUTARIO ELECTRÓNICO</td>
                                <td rowspan="2" style="width: 20%; text-align: center;">1.0</td>
                              </tr>
                              <tr>
                                <td style="text-align: center">COMPROANTE DE CRÉDITO FISCAL</td>
                              </tr>                        
                      </table>


                        
                        <table cellpadding="0" cellspacing="0" border="0" align="left" style="width: 100%;margin-top: 10px;    margin-bottom: 10px;">
                                <tbody>
                                    <tr>
                              <td style="background-color: #fafafa;border: 1px solid #ddd;padding: 15px;letter-spacing: 0.3px;width: 40%;">

                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" >
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                        </table>
                                    <td style="text-align: center"http://localhost:3003/static/assets/images/email-temp/logo_space.jpg" alt=" " height="25" width="30"><img src="http://localhost:3003/static/assets/images/email-temp/logo_success.png" alt=""></td>
                                    <td style="background-color: #fafafa;border: 1px solid #ddd;padding: 15px;letter-spacing: 0.3px;width: 40%;">

                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" >
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

<table cellpadding="0" cellspacing="0" border="0" align="left" style="width: 100%; margin-top: 10px; margin-bottom: 10px;">
                                <tbody>
                                    <tr>
                              <td style="background-color: #fafafa;border: 1px solid #ddd;padding: 15px;letter-spacing: 0.3px;width: 40%;">
                                <h5 style="font-size: 16px; font-weight: 600;color: #000; line-height: 16px; padding-bottom: 13px; border-bottom: 1px solid #e6e8eb; letter-spacing: -0.65px; margin-top:0; margin-bottom: 13px;">EMISOR:</h5>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" >
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>                                                                                                                              
                                        </table>
                                    <td style="width: 20%><img src="http://localhost:3003/static/assets/images/email-temp/logo_space.jpg" alt=" " height="25" width="30"></td>
                                    <td style="background-color: #fafafa;border: 1px solid #ddd;padding: 15px;letter-spacing: 0.3px;width: 40%;">
                                        <h5 style="font-size: 16px;font-weight: 600;color: #000; line-height: 16px; padding-bottom: 13px; border-bottom: 1px solid #e6e8eb; letter-spacing: -0.65px; margin-top:0; margin-bottom: 13px;">RECEPTOR:</h5>
                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%;" >
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>
                                          <tr>
                                            <td>&nbsp;</td>
                                          </tr>                                                                                                                              
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                        



</body>
</html>
