<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sin título</title>
</head>

<body>


<table class="order-detail" border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 2px; font-size: small;">
					  <tbody>
						  <tr style="background-color: #fafafa;border: 1px solid #ddd;">
							  <td style="width: 20%; text-align: right; padding-right: 0.5em;">
								  <p class="tamanio_04"><b>Responsable por parte del Emisor: </b></p>
							  </td>
							  <td style="width: 45%; text-align: left; padding-left: 0.5em;">
								  <p class="tamanio_04">${nuloReemplazar}</p>
							  </td>
							  <td style="width: 15%; text-align: right; padding-right: 0.5em;">
								  <p class="tamanio_04"><b>No. de Documento: </b></p>
							  </td>
							  <td style="width: 25%; text-align: left; padding-left: 0.5em;">
								  <p class="tamanio_04">${nuloReemplazar}</p>
							  </td>
						  </tr>
						  <tr style="background-color: #fafafa;border: 1px solid #ddd;">
							  <td style="width: 20%; text-align: right; padding-right: 0.5em;">
								  <p class="tamanio_04"><b>Responsable por parte del Receptor: </b></p>
							  </td>
							  <td style="width: 40%; text-align: left; padding-left: 0.5em;">
								  <p class="tamanio_04">${nuloReemplazar}</p>
							  </td>
							  <td style="width: 15%; text-align: right; padding-right: 0.5em;">
								  <p class="tamanio_04"><b>No. de Documento: </b></p>
							  </td>
							  <td style="width: 25%; text-align: left; padding-left: 0.5em;">
								  <p class="tamanio_04">${nuloReemplazar}</p>
							  </td>
						  </tr>
                        <tr style="background-color: #fafafa;border: 1px solid #ddd;">
                          <td style="width: 20%; text-align: right; padding-right: 0.5em;">
                          	<p class="tamanio_04"><b>Observación General:</b></p>
                          </td>
                          <td colspan="3" style="width: 25%; text-align: left; padding-left: 0.5em;">
                          	<p class="tamanio_04">${nuloReemplazar}</p>
                          </td>
                        </tr>						  
					  </tbody>
					</table>
                   
					<table class="table-cuerpo-factura" border="1" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 5px; font-size: small;">
					  <tbody>
                            <tr>
                              <td colspan="3" style="width: 17%; text-align: right; padding-right: 0.5em;">
                                    <p class="tamanio_04"><b> Total monto sujeto a tetención:</b></p>
                              </td>
                              <td style="width: 33%; text-align: left; padding-left: 0.5em;">
                                    <p class="tamanio_04">{{resumen.montoTotalOperacion}}</p>
                              </td>
                            </tr>
                            <tr>
                                <td style="width: 17%; text-align: right; padding-right: 0.5em;"><p class="tamanio_04"><strong>Valor en letras IVA retenido:</strong></p></td>
                                <td style="width: 33%; text-align: left; padding-left: 0.5em;">
                                    <p class="tamanio_04">{{resumen.montoTotalOperacion}}</p>
                                </td>
                                <td style="width: 17%; text-align: right; padding-right: 0.5em;">
                                    <p class="tamanio_04"><b> Total IVA Retenido:</b></p>
                                </td>
                                <td style="width: 33%; text-align: left; padding-left: 0.5em;">
                                    <p class="tamanio_04">{{resumen.montoTotalOperacion}}</p>
                                </td>                                
                            </tr>                            
					  </tbody>
                    </table>


<table class="table-cuerpo-factura" border="1" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 5px; font-size: small;">
					  <tbody>

              <tr>
                <td class="wrapper" style="width: 80%; font-family: sans-serif; font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;">
                  <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;">Notificación de <br>
                  </p>
                  <p style="font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; Margin-bottom: 15px;"><br>
                  Documento Tributario Electrónico</p>                  
                </td>
                <td class="wrapper" style="width: 20%; font-family: sans-serif font-size: 14px; text-align: center; vertical-align: top; box-sizing: border-box; padding: 20px;">
                           <img src="{{url}}assets/images/email-temp/doc_barra.png" style="max-width: 100px ; max-height: 100px; "> 
                </td>                
              </tr>  
  						</tbody>
                    </table>
<p>&nbsp;</p>
<table width="100%" border="1">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
                    <table class="order-detail" border="0" cellpadding="0" cellspacing="0"
						style="width: 100%; margin-bottom: 2px; font-size: small;">
						<tbody>
							<tr>
							  <td colspan="6" style="text-align: center">
									<p class="tamanio_04"><b>VENTA A CUENTA DE TERCEROS</b></p>
								</td>
							</tr>
							<tr style="background-color: #fafafa;border: 1px solid #ddd;">
							  <td style="width: 16%; text-align: center">
									<p class="tamanio_04"><b>Identificación del doc. Asociado</b></p>
								</td>
							  <td style="width: 16%; text-align: center">
									<p class="tamanio_04"><b>Descripción de doc. Asociado</b></p>
								</td>
							  <td style="width: 20%; text-align: center">
									<p class="tamanio_04"><b>Nombre del Conductor</b></p>
								</td>
							  <td style="width: 16%; text-align: center">
									<p class="tamanio_04"><b>No. de Identificación</b></p>
								</td>
							  <td style="width: 16%; text-align: center">
									<p class="tamanio_04"><b>Modo de Transporte</b></p>
								</td>
							  <td style="width: 16%; text-align: center">
									<p class="tamanio_04"><b>No. ID transporte</b></p>
								</td>																
							</tr>
							<tr style="background-color: #fafafa;border: 1px solid #ddd;">
								<td style="width: 16%; text-align: center">
								  <p class="tamanio_04">&nbsp;</p>
								</td>
								<td style="width: 16%; text-align: center">
								  <p class="tamanio_04">&nbsp;</p>
								</td>
								<td style="width: 20%; text-align: center">
								  <p class="tamanio_04">&nbsp;</p>
								</td>
								<td style="width: 16%; text-align: center">
								  <p class="tamanio_04">&nbsp;</p>
								</td>
								<td style="width: 16%; text-align: center">
								  <p class="tamanio_04">&nbsp;</p>
								</td>
								<td style="width: 16%; text-align: center">
								  <p class="tamanio_04">&nbsp;</p>
								</td>																
							</tr>
					  </tbody>
</table>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
						<table class="order-detail" border="0" cellpadding="0" cellspacing="0"
							style="width: 100%; margin-bottom: 2px; font-size: small;">
							<tbody>
								<tr>
									<td colspan="3" style="text-align: center">
										<p class="tamanio_04"><b>OTROS DOCUMENTOS ASOCIADOS</b></p>
									</td>
								</tr>
								<td style="width: 30%; text-align: center; padding-right: 0.5em;">
									<p class="tamanio_04"><b>Documento Asociado</b></p>
								</td>
								<td style="width: 35%; text-align: center; padding-left: 0.5em;">
									<p class="tamanio_04"><b></b>Descripción doc. Asociado</b></p>
								</td>
								<td style="width: 35%; text-align: center; padding-right: 0.5em;">
									<p class="tamanio_04"><b>Detalle doc. Asocaiado</b></p>
								</td>
								
								<tr>
								<td style="width: 30%; text-align: center; padding-right: 0.5em;">
									<p class="tamanio_04"><b>XXX</b></p>
								</td>
								<td style="width: 35%; text-align: center; padding-left: 0.5em;">
									<p class="tamanio_04"><b></b>XXX</b></p>
								</td>
								<td style="width: 35%; text-align: center; padding-right: 0.5em;">
									<p class="tamanio_04"><b>XXX</b></p>
								</td>									
								</tr>
								
							</tbody>
						</table>

</body>
</html>
